{% include "header.html" %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Access Denied</h1>
          <span class="subheading"
            >You don't have permission to access this page</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-lg-8 col-md-10 mx-auto text-center">
      <div class="alert alert-danger">
        <h2><i class="fas fa-exclamation-triangle"></i></h2>
        <p class="mb-0">
          Sorry, you need to be an administrator to access this page.
        </p>
      </div>
      <a href="{{ url_for('home') }}" class="btn btn-primary">Return to Home</a>
    </div>
  </div>
</div>

{% include "footer.html" %}
