{% include "header.html" %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">
            Athlete &nbsp;&bull;&nbsp; Developer &nbsp;&bull;&nbsp; Creator
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          This web application is a non-commercial personal project developed as
          part of my programming bootcamp. Its primary purpose is to enhance my
          coding skills and serve as a demonstration of my ability to build and
          deploy web-based platforms.
        </p>
        <p>
          The blog section of this site presents the latest technology-related
          news sourced from
          <a href="https://news.ycombinator.com/" target="_blank"
            >Hacker News by Y Combinator</a
          >. All news content is displayed in a simplified, user-friendly layout.
        </p>
        <p>
          I am always open to constructive feedback, networking, and
          collaboration. Feel free to connect using the links below.
        </p>
      </div>
    </div>
  </div>
</main>
{% include "footer.html" with context %}
