<!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="container text-center py-3">
                    <a href="mailto:gabriel.janvrin@gmail.com" class="btn btn-link" aria-label="Email"><i
                        class="fas fa-envelope fa-2x"></i></a>
                    <a href="https://github.com/testing2129" class="btn btn-link" aria-label="GitHub"><i
                        class="fab fa-github fa-2x"></i></a>
                    <a href="https://testing2129.github.io/NameCard/" class="btn btn-link" aria-label="Landing-page"><i
                        class="fas fa-globe fa-2x"></i></a>
                </div>        <div class="small text-center text-muted fst-italic">© {{current_year}} Gabriel Janvrin • Gothenburg</div>
                </div>
            </div>
            </div>
        </footer>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        </body>
    </html>
